@import './_common.scss';
@import './modules/_form.scss';

.register {
  @extend .flex-column;
  padding-left: 9vw;
  padding-right: 9vw;
  @include break-point(desktop) {
    flex-direction: row;
  }
}

.heading {
  @extend .flex-column;
  margin-top: 6%;
}
